* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  background: gray;
}
button {
  margin: 3px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid black;
  outline: none;
  background: white;
  cursor: pointer
}

input {
  margin: 3px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid black;
  outline: none;
}

a,
a:link,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}
