* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  background: gray;
}
button {
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid black;
  outline: none;
  background: white;
  cursor: pointer;
  min-width: 40px;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

button:disabled {
  background: gray;
  cursor: default;
  color: white;
}

button:disabled:hover {
  transform: scale(1);
}

input {
  margin: 3px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid black;
  outline: none;
}

a,
a:link,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}
